
#define DLL_KEYBHOOK 4444

#define IDI_MAINICON 1
#define IDD_MAINFORM 101
#define IDM_MAINMENU 102

#define IDM_MENUINFO 201
#define IDM_MENUPRO1 202
#define IDM_MENUPRO2 203
#define IDM_MENUPRO3 204
#define IDM_MENUPRO4 205
#define IDM_MENUPRO5 206
#define IDM_MENUPRO6 207
#define IDM_MENUPRO7 208
#define IDM_MENUPRO8 209

#define IDC_KINSTALL 301
#define IDC_KRELEASE 302
#define IDC_LOADFILE 303
#define IDC_SAVEFILE 304

#define IDC_CHECKCTRL 401

#define IDC_CHECKF01 512
#define IDC_CHECKF02 513
#define IDC_CHECKF03 514
#define IDC_CHECKF04 515
#define IDC_CHECKF05 516
#define IDC_CHECKF06 517
#define IDC_CHECKF07 518
#define IDC_CHECKF08 519
#define IDC_CHECKF09 520
#define IDC_CHECKF10 521
#define IDC_CHECKF11 522
#define IDC_CHECKF12 523

#define IDC_EDITF01 612
#define IDC_EDITF02 613
#define IDC_EDITF03 614
#define IDC_EDITF04 615
#define IDC_EDITF05 616
#define IDC_EDITF06 617
#define IDC_EDITF07 618
#define IDC_EDITF08 619
#define IDC_EDITF09 620
#define IDC_EDITF10 621
#define IDC_EDITF11 622
#define IDC_EDITF12 623

DLL_KEYBHOOK KEYBHOOK AgeKey.dll

IDM_MAINMENU MENU
BEGIN
  POPUP " C&heats "
  BEGIN
    MENUITEM "Age of Mythology", IDM_MENUPRO7
    MENUITEM "Age of Mythology: The Titans", IDM_MENUPRO8
    MENUITEM "Age of Empires II: The Age of Kings", IDM_MENUPRO5
    MENUITEM "Age of Empires II: The Conquerors", IDM_MENUPRO6
    MENUITEM "Age of Empires: The Rise of Rome (1)", IDM_MENUPRO3
    MENUITEM "Age of Empires: The Rise of Rome (2)", IDM_MENUPRO4
    MENUITEM "Age of Empires (1)", IDM_MENUPRO1
    MENUITEM "Age of Empires (2)", IDM_MENUPRO2
  END
  MENUITEM " &Info... ", IDM_MENUINFO
END

IDD_MAINFORM DIALOGEX 0, 0, 250, 290
STYLE DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CLIENTEDGE
CAPTION " Age of Empires - Message Helper"
MENU IDM_MAINMENU
FONT 8, "MS Sans Serif"
BEGIN
  PUSHBUTTON "&Activate keys",IDC_KINSTALL,8,8,75,16,BS_FLAT
  PUSHBUTTON "&Deactivate keys",IDC_KRELEASE,168,8,75,16,BS_FLAT | WS_DISABLED
  CONTROL " ( F&1 ) ",IDC_CHECKF01,"Button",BS_AUTOCHECKBOX | BS_TOP | BS_FLAT | WS_TABSTOP,8,40,40,10
  EDITTEXT IDC_EDITF01,50,40,192,10,ES_AUTOHSCROLL | NOT WS_BORDER
  CONTROL " ( F&2 ) ",IDC_CHECKF02,"Button",BS_AUTOCHECKBOX | BS_TOP | BS_FLAT | WS_TABSTOP,8,56,40,10
  EDITTEXT IDC_EDITF02,50,56,192,10,ES_AUTOHSCROLL | NOT WS_BORDER
  CONTROL " ( F&3 ) ",IDC_CHECKF03,"Button",BS_AUTOCHECKBOX | BS_TOP | BS_FLAT | WS_TABSTOP,8,72,40,10
  EDITTEXT IDC_EDITF03,50,72,192,10,ES_AUTOHSCROLL | NOT WS_BORDER
  CONTROL " ( F&4 ) ",IDC_CHECKF04,"Button",BS_AUTOCHECKBOX | BS_TOP | BS_FLAT | WS_TABSTOP,8,88,40,10
  EDITTEXT IDC_EDITF04,50,88,192,10,ES_AUTOHSCROLL | NOT WS_BORDER
  CONTROL " ( F&5 ) ",IDC_CHECKF05,"Button",BS_AUTOCHECKBOX | BS_TOP | BS_FLAT | WS_TABSTOP,8,104,40,10
  EDITTEXT IDC_EDITF05,50,104,192,10,ES_AUTOHSCROLL | NOT WS_BORDER
  CONTROL " ( F&6 ) ",IDC_CHECKF06,"Button",BS_AUTOCHECKBOX | BS_TOP | BS_FLAT | WS_TABSTOP,8,120,40,10
  EDITTEXT IDC_EDITF06,50,120,192,10,ES_AUTOHSCROLL | NOT WS_BORDER
  CONTROL " ( F&7 ) ",IDC_CHECKF07,"Button",BS_AUTOCHECKBOX | BS_TOP | BS_FLAT | WS_TABSTOP,8,136,40,10
  EDITTEXT IDC_EDITF07,50,136,192,10,ES_AUTOHSCROLL | NOT WS_BORDER
  CONTROL " ( F&8 ) ",IDC_CHECKF08,"Button",BS_AUTOCHECKBOX | BS_TOP | BS_FLAT | WS_TABSTOP,8,152,40,10
  EDITTEXT IDC_EDITF08,50,152,192,10,ES_AUTOHSCROLL | NOT WS_BORDER
  CONTROL " ( F&9 ) ",IDC_CHECKF09,"Button",BS_AUTOCHECKBOX | BS_TOP | BS_FLAT | WS_TABSTOP,8,168,40,10
  EDITTEXT IDC_EDITF09,50,168,192,10,ES_AUTOHSCROLL | NOT WS_BORDER
  CONTROL " ( F1&0 ) ",IDC_CHECKF10,"Button",BS_AUTOCHECKBOX | BS_TOP | BS_FLAT | WS_TABSTOP,8,184,40,10
  EDITTEXT IDC_EDITF10,50,184,192,10,ES_AUTOHSCROLL | NOT WS_BORDER
  CONTROL " &( F11 ) ",IDC_CHECKF11,"Button",BS_AUTOCHECKBOX | BS_TOP | BS_FLAT | WS_TABSTOP,8,200,40,10
  EDITTEXT IDC_EDITF11,50,200,192,10,ES_AUTOHSCROLL | NOT WS_BORDER
  CONTROL " ( F12 &) ",IDC_CHECKF12,"Button",BS_AUTOCHECKBOX | BS_TOP | BS_FLAT | WS_TABSTOP,8,216,40,10
  EDITTEXT IDC_EDITF12,50,216,192,10,ES_AUTOHSCROLL | NOT WS_BORDER
  CONTROL " Combined with  ( &CTRL )  to avoid blocking shortcuts in the game ",
    IDC_CHECKCTRL,"Button",BS_AUTOCHECKBOX | BS_LEFT | BS_FLAT | WS_TABSTOP,8,240,235,10
  PUSHBUTTON "&Load from file ...",IDC_LOADFILE,8,264,75,16,BS_FLAT
  PUSHBUTTON "&Save to file ...",IDC_SAVEFILE,168,264,75,16,BS_FLAT
  CTEXT "-=[ delphi rulez ]=-",-1,85,8,80,16,SS_CENTERIMAGE | NOT WS_GROUP
  CTEXT "-=[ nico ]=-",-1,85,264,80,16,SS_CENTERIMAGE | NOT WS_GROUP
END

IDI_MAINICON ICON
BEGIN
  '0000 0100 0100 2020 0400 0000 0000 E802 0000 1600'
  '0000 2800 0000 2000 0000 4000 0000 0100 0400 0000'
  '0000 0002 0000 0000 0000 0000 0000 0000 0000 0000'
  '0000 0000 0000 0000 8000 0080 0000 0080 8000 8000'
  '0000 8000 8000 8080 0000 8080 8000 C0C0 C000 0000'
  'FF00 00FF 0000 00FF FF00 FF00 0000 FF00 FF00 FFFF'
  '0000 FFFF FF00 7770 FFFF FFFF FFFF F007 0FFF FFFF'
  'FFFF F777 0FFF FFFF FFFF F078 70FF FFFF FFFF FF77'
  '70FF FFFF FFFF 0788 770F FFFF FFFF FFF7 700F FFFF'
  'FFF0 7887 7770 FFFF FFFF FFFF 0070 FFFF FF07 887F'
  'F777 0FFF FFFF FFFF 0787 0FFF F078 87FF FF77 70FF'
  'FFFF FFF0 7887 70FF 0788 7FFF FFF7 770F FFFF FF07'
  '8877 7700 0887 FFFF FFFF 7770 FFFF F078 87FF 7770'
  '087F FFFF FFFF F770 0FFF 0788 7FFF F777 07FF FFF0'
  'FFFF FF00 70FF 7887 FFFF FF77 70FF 000F FFFF FF07'
  '870F 887F F0FF FFF7 770F FF0F FFFF F078 8770 87FF'
  '0FFF FFFF 7700 FF0F FFFF 0788 7777 7FF0 F0F0 FFFF'
  'F007 0FFF FFF0 7887 FF77 0FF0 FF0F FFFF F078 70FF'
  'FF07 887F FFF7 70FF 00FF FFFF 0788 770F F078 87FF'
  'FFFF 700F FFFF FFF0 7887 7770 0088 7FF0 FFFF 0070'
  'FFFF FF07 887F F777 0087 FFF0 FFFF 0787 0FFF F078'
  '87FF FF77 707F F000 00FF 7887 70FF 0788 7FFF FFF7'
  '770F FFF0 FFFF 8877 7700 0887 FFF0 FFFF 7770 FFF0'
  'FFFF 87FF 7770 087F F0FF 0FFF F770 0FFF FFFF 7FFF'
  'F777 07FF 0F0F 0FFF FF00 70FF FFFF FFFF FF77 70FF'
  '0FF0 FFFF FF07 870F FFF0 FFFF FFF7 770F F0FF FFFF'
  'F078 8770 FF07 F00F FFFF 7700 FFFF FFFF 0788 7777'
  '0008 0F0F FFFF F007 0FFF FFF0 7887 FF77 7008 FF00'
  '0FFF F078 70FF FF07 887F FFF7 7700 FFFF 0FFF 0788'
  '770F F078 87FF 0FFF 7770 FFF0 FFF0 7887 7770 0088'
  '7FF0 F0FF F777 FFF0 FF07 887F F777 0087 FF0F F0FF'
  'FF77 FFFF F078 87FF FF77 707F F0FF F0FF FFF7 0000'
  '0000 0000 0000 0000 0000 0000 0000 0000 0000 0000'
  '0000 0000 0000 0000 0000 0000 0000 0000 0000 0000'
  '0000 0000 0000 0000 0000 0000 0000 0000 0000 0000'
  '0000 0000 0000 0000 0000 0000 0000 0000 0000 0000'
  '0000 0000 0000 0000 0000 0000 0000 0000 0000 0000'
  '0000 0000 0000 0000 0000 0000 0000 0000 0000 0000'
  '0000 0000 0000 0000'
END